.wrapper-modal-entity .btn-modal {
	padding: 0.6rem 0.4rem;
	font-size: 0.9rem;
	border-radius: 5px;
}

.wrapper-modal-entity .line-modal-property {
	display: flex;
}

.wrapper-modal-entity .property-value {
	flex: 1;
	text-align: right;
}

.wrapper-modal-entity .modal-title {
	flex: 1;
	text-align: center;
}

.wrapper-modal-entity hr.sep-atr {
	margin: 1rem 0 !important;
}